*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}

#box{
    width: 200px;
    height: 200px;
    /* background:linear-gradient(to bottom, black , blue,red,yellow,pink,green,orange,white); */
    background:radial-gradient(circle, red , yellow , green , orange);
}